<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: aliceblue">
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">TYS BOOKS</span>
    </div>
    
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <br />
            Heres the full catalog from Ty's Bookstore. But wait... there's more! At the bottom of this page you can switch to other pages filled with even more books!
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
  

    <footer style="background-color: whitesmoke" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mission7 - Tyler Harris
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
