<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body style="background-color: aliceblue">
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 50px">TYS BOOKS</div>
                <i style="padding-top: 17px" class="fa-3x fa fa-regular fa-book"></i>
                <div style="padding-top: 25px" class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1 p-1">

        <div id="categories" class="col-3  btn-block">
            <br />
            <vc:category></vc:category>
        </div>

        <div class="col-9 btn-block">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>


    <footer style="background-color: whitesmoke" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mission7 - Tyler Harris
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
