@page
@model TysBooks.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order will be delivered soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>