
@{
}

@model IEnumerable<string>

<div class="d-grid gap-1">
    <a asp-controller="Account" asp-action="Login" asp-route-bookCategory="" asp-route-pageNum="1" class="btn btn-block btn-outline-primary">Log In</a>
    <br />

    <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1" class="btn btn-block btn-outline-secondary">Home</a>
    <br />

    @foreach (string c in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="@c" asp-route-pageNum="1" class="btn-block btn @(ViewBag.SelectedCategory == c ? "btn-primary" : "btn-outline-secondary")">@c</a>
        <br />
    }
</div>